/* light blue : rgb(174, 247, 255); */
/* dark:  #242e56; */

.main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  background-color: #242e56;
  flex: 1;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.header {
  font-size: 48px;
  font-weight: bold;
  align-self: center;
  color: white;
}

.descText,
.loadingText {
  font-size: 16px;
  align-self: center;
  color: white;
}

.searchBarContainer {
  display: flex;
  gap: 16px;
  margin-top: 1rem;
}

.searchBar {
  border: 1px solid white;
  align-items: flex-start;
  color: white;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  width: 300px;
}

.searchBar:focus {
  border-color: rgb(174, 247, 255);
  outline: none;
}

.searchButton {
  background-color: white;
  padding: 0 1rem;
  border-radius: 2rem;
  color: #242e56;
  align-items: flex-start;
  transition: background-color 0.5s ease;
}

.searchButton:hover {
  background-color: rgb(174, 247, 255);
}

.booksContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bookCard {
  background-color: white;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

@media (max-width: 768px) {
  .main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
  }

  .descText,
  .header {
    align-self: flex-start;
  }

  .searchBarContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .searchBar,
  .searchButton {
    height: 50px;
    width: 100%;
  }
}
