.main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  background-color: #242e56;
  flex: 1;
}

.header {
  font-size: 48px;
  font-weight: bold;
  align-self: center;
  color: rgb(255, 255, 255);
}

.descText,
.loadingText {
  font-size: 16px;
  align-self: center;
  color: rgb(255, 255, 255);
}

.searchBarContainer {
  display: flex;
  gap: 16px;
  margin-top: 2rem;
}

.searchBar {
  border: 1px solid rgb(255, 255, 255);
  align-items: flex-start;
  color: white;
  border-radius: 2rem;
  padding: 0.5rem;
}

.searchButton {
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  border-radius: 2rem;
  color: #242e56;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid red;
  }

  .descText,
  .header {
    align-self: flex-start;
  }
}
